@import 'base/vars';
@import 'base/theme_info';
@import 'foundation';
@import 'widgets/ss';
@import 'widgets/ssvolume';

.large-4 {
  text-align: center;
  text-align: -moz-center;
}
#wp-calendar {
  margin: auto;
}
.top-to-bottom { 
  border-bottom: 1px solid rgba(0,0,0,1);
  padding-right: 2px;
}
#sidebar-logo {
  width: 100%;
  max-width: 100%;
}
body {
  .entry-title {
    text-align: center;
  }
  &.category {
    .entry-title {
      text-align: left;
    }
  }
}
#page {
  min-height: 100%;
  #content-wrapper {
    height: 100%;
    min-height: 100%;
    .columns {
      height: 100%;
    }
  }
}

  .jp-carousel-info {
    .jp-carousel-photo-info {
      h2  {
        font-size: 16pt !important;
      }
    }
  }
.wpcf7 {
  p {
    font-size: 17pt;
  }
}
.sidebar-column {
  background-color: #FFF;
  padding: 0;
}
.clearfix {
  clear: both;
}
#lounge-player {
  border-bottom: 1px solid #000;
  display: inline-block;
  width: 100%;
  height: 3rem;
  position: relative;
  #lounge-player-controls {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    .lounge-player-element {
      position: relative;
      top: 0;
      left: 0;
      vertical-align: middle;
      display: table-cell;
      width: 1%;
      min-height: 3em;
      min-width: 3em;
      border-left: 1px solid #000;
      &.lounge-status-element {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        p {
          line-height: 1.5em;
          margin-bottom: 0;
          .label {
              position: relative;
              display: inline-block;
              font-size: 0.7em;
              margin-left: 0.25em;
              vertical-align: top;
              background-color: rgba(0,0,0,0.25);
              border-radius: 3px;
              padding: 0px 3px;
              box-sizing: padding-box;
          }
        }
      }
      .lounge-player-status,
      .lounge-player-volume {
        width: 100%;
        line-height: 1.1;
        display: none;
        marquee {
          line-height: 1.3;
          strong {
            vertical-align: bottom;
          }
        }
      }
      .lounge-player-button-wrapper {
        min-height: 3em;
        min-width: 3em;
        position: relative;
        .lounge-player-button {
          display: block;
          font-size: 1.75rem;
          line-height: 1.5rem;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          text-align: center;
          i {
            font-size: 2rem;
            line-height: 3rem;
          }
          &#lounge-player-play {
            float: left;
          }
          &#lounge-player-stop {
            float: right;
          }
        }
      }
    }
  }
}
#lounge-player-gradient {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(to bottom, rgba(255,255,255,0.125) 5%, rgba(255,255,255,0.125) 45%, rgba(255,255,255,0.15) 52%, rgba(0,0,0,0.01) 51%, rgba(0,0,0,0.1) 95%);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.125) 5%, rgba(255,255,255,0.125) 45%, rgba(255,255,255,0.15) 50%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.1) 95%);
}
.home-page {
  #inner-content {
    display: table;
    #content {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
#inner-content {
  border-left: 1px solid #000;
}
.page-id-1793 {
  #inner-content {
  }
}
#secondary {  
  background-color: transparent;
  margin: 0;
  height: 100%;
  background-color: #FFF;
  padding: 0;
  aside {
    padding: 1em;
  }
  .site-title,
  .site-tagline {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  #searchform {
    margin-top: 1rem;
    label {
      font-size: 17pt;
      font-weight: 700;
    }
    #searchsubmit {
      display: none;
    }
  }
  ul {
    margin-left: 0;
    margin-bottom: 0;
    padding: 1rem 0;
    list-style: none;
    li {
      font-size: 1.9rem;
      line-height: 3rem;
      a {
        outline: 0;
        display: block;
        padding-left: 0.675rem;
        color: #4d4d4d;
        text-align: center;
        &:hover,
        &:focus,
        &.active {
          background-color: #4d4d4d;
          color: #b7b7b7;
        }
      }
    }

  }
}
#menu-toggle {
  display: none;
  border: 2px solid #007095;
  background-color: transparent;
  color: #007095;
  font-size: 18pt;
  font-weight: 700;
}
@media(max-width:40.0625em) {
  #primary-menu {
    display: none;
  }
  #menu-toggle {
    display: block;
  }
}
.gallery-row {
  margin: 0 auto;
}
#lounge-volume-slider {
  visibility: hidden;
}
.slider {
  width: 85%;
  margin: 0 auto !important;
}
.slider>.dragger {
    background: #000;
    background: linear-gradient(top,#000,#222);
    box-shadow: inset 0 2px 2px rgba(255,255,255,.5),0 2px 8px rgba(0,0,0,.2);
    border-radius: 10px;
    border: 1px solid #496805;
    width: 1pc;
    height: 1pc;
}
.slider-volume {
  width: 90%;
}

.slider-volume > .dragger {
	width: 16px;
	height: 16px;
	margin: 0 auto;
  border: 1px solid rgba(255,255,255,0.6);

  -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

  background: #c5c5c5;
  background: -moz-linear-gradient(90deg, rgba(180,180,180,1) 20%, rgba(230,230,230,1) 50%, rgba(180,180,180,1) 80%);
	background:	-webkit-radial-gradient(  50%   0%,  12% 50%, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%),
  	          -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
              -webkit-radial-gradient(	50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}

.slider-volume > .track, .slider-volume > .highlight-track {
  height: 11px;

  background: #787878;
  background: -moz-linear-gradient(top, #787878, #a2a2a2);
  background: -webkit-linear-gradient(top, #787878, #a2a2a2);
  background: linear-gradient(top, #787878, #a2a2a2);

  -moz-box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.slider-volume > .highlight-track {
  background-color: #c5c5c5;
  background: -moz-linear-gradient(top, #c5c5c5, #a2a2a2);
  background: -webkit-linear-gradient(top, #c5c5c5, #a2a2a2);
  background: linear-gradient(top, #c5c5c5, #a2a2a2);
}


